@model Harmic.Models.TbProduct

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Xóa sản phẩm</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Xóa sản phẩm</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tiêu đề:</label>
                                @Html.DisplayFor(Model => Model.Title)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Alias:</label>
                                @Html.DisplayFor(Model => Model.Alias)
                            </div>
                     
                            
                                <div class="form-group">
                                <label for="exampleInputPassword1">Chi tiết:</label>
                                @Html.DisplayFor(Model => Model.Detail)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Giá:</label>
                                @Html.DisplayFor(Model => Model.Price)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Giá giảm:</label>
                                @Html.DisplayFor(Model => Model.PriceSale)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Số lượng:</label>
                                @Html.DisplayFor(Model => Model.Quantity)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">SP Mới:</label>
                                @Html.DisplayFor(Model => Model.IsNew)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Sao:</label>
                                @Html.DisplayFor(Model => Model.Star)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Hiện:</label>
                                @Html.DisplayFor(Model => Model.IsActive)
                            </div>
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="ProductId" />
                                <input type="submit" value="Xóa" class="btn btn-danger" /> |
                                <a asp-action="Index" class="btn btn-primary">Quay lại</a>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>